body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; /* Light orange background for childhood page */
}

header {
    background-color: #ff9933; /* Orange header background */
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Additional styling for the centered image */
img
	{
	border-color:gray;
	border-width: 10;
    border: 1px solid none; 
    border-radius: 5ex;
    padding: 5px; 
    width: 300px; 
	}
main {
    padding: 20px;
}

section {
    background-color: #fff; /* White background for content section */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
  }
a
 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.cta {
    text-align: center;
    padding: 50px 0;
    background-color: #3498db;
    color: #fff;
  }